body{
    background-color: #F0E6FF;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    padding:40px;
}

h1{
    text-align: center;
    font-size: 40px;
    color:#222222;
}
h2{
    color:#6A4C93;
}

a{
    color:#6A4C93;
    text-decoration: none;
    display:block;
    
     
}

ul{
    list-style:none; 
    padding:0;
}

.character-list{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.character-list li{
    width: 180px    ;
    margin-bottom: 10px;
    border: 1px solid #6A4C93;
    border-radius: 8px;
    background-color: white;
    padding:10px;
}

.character-section{
    background-color: #E8D9FF;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.character-section h3{
    color:#6A4C93;
    font-size: 24px;

}

